In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization
import seaborn as sns # for statistical data visualization
%matplotlib inline

In [2]:
import os

In [3]:
import warnings

warnings.filterwarnings('ignore')

In [4]:
dataframe = pd.read_csv('15.csv')

In [5]:
dataframe

     nlikes  nretweets  nreplies  video  photos
0        13         12         7      1       1
1       182         33        11      1       1
2       249         84        11      1       1
3       529         51        42      1       0
4        24         33        11      0       0
..      ...        ...       ...    ...     ...
101      55         22        42      1       1
102     188         29         9      0       0
103      72         49        12      1       0
104     108         10        19      0       0
105      54         16         8      1       1

[106 rows x 5 columns]

In [6]:
# view dimensions of dataset

dataframe.shape

(106, 5)

In [7]:
dataframe.head()

   nlikes  nretweets  nreplies  video  photos
0      13         12         7      1       1
1     182         33        11      1       1
2     249         84        11      1       1
3     529         51        42      1       0
4      24         33        11      0       0

In [10]:
X = dataframe.drop(['video'], axis=1)

y = dataframe['video']

In [11]:
# split X and y into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [12]:
# check the shape of X_train and X_test

X_train.shape, X_test.shape

((84, 4), (22, 4))

In [13]:
cols = X_train.columns

In [14]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [15]:
X_train = pd.DataFrame(X_train, columns=[cols])

In [16]:
X_test = pd.DataFrame(X_test, columns=[cols])

In [17]:
X_train.describe()

             nlikes     nretweets      nreplies        photos
count  8.400000e+01  8.400000e+01  8.400000e+01  8.400000e+01
mean   3.172066e-17 -1.767766e-17 -3.403362e-17 -3.965082e-17
std    1.006006e+00  1.006006e+00  1.006006e+00  1.006006e+00
min   -5.190638e-01 -3.396347e-01 -2.954129e-01 -7.261355e-01
25%   -4.459164e-01 -3.015085e-01 -2.516789e-01 -7.261355e-01
50%   -3.203238e-01 -2.198094e-01 -1.991981e-01 -7.261355e-01
75%   -1.393283e-02 -6.321952e-02 -9.204970e-02  1.377153e+00
max    6.072481e+00  8.636371e+00  8.687555e+00  1.377153e+00

In [18]:
# import SVC classifier
from sklearn.svm import SVC

In [19]:
# import metrics to compute accuracy
from sklearn.metrics import accuracy_score

In [20]:
# instantiate classifier with default hyperparameters
svc=SVC()

In [21]:
# fit classifier to training set
svc.fit(X_train,y_train)

SVC()

In [22]:

# make predictions on test set
y_pred=svc.predict(X_test)


# compute and print accuracy score
print('Model accuracy score with default hyperparameters: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score with default hyperparameters: 0.9091